{% extends 'base.html' %}
{% block title %}
Add Note
{% endblock %}
{% block content %}
<div class="container col-8">
    <br>
    <br>
    <h1 class="display-4">Add Notes</h1>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <label for="title">Title</label>
    <form method="POST">
    <input type="text" class="form-control" id="title" name="title"
           placeholder="Title">
    <br>
    <label for="note">Note</label>
    <textarea name="note" id="note" class="form-control" placeholder="Enter your note"></textarea>
    <br>
    <div align="right">
        <button type="submit" class="btn btn-primary btn-block">Add Note</button>
    </div>

        </form>
</div>
{% endblock%}
