{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container col-10">
    <br>
    <br>
<h1 class="display-4">Home    <a type="button" href="/view_notes" style="color: #ffffff" class="btn btn-primary">View your Notes</a>     <a type="button" href="/add_notes" style="color: #ffffff" class="btn btn-primary">Add Notes</a></h1>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %} {% endif %} {% endwith %}
    {% for note in all_notes %}
    <div class="card">
        <div class="card-body">
           {% if current_user.id == note[0].id %} <button type="button" class="close"><a href="delete_note/{{ note[1].id }}" class="d-flex justify-content-end" style="color:#343434"><span aria-hidden="true">&times;</span></a></button>{% endif %}
            <a style="text-decoration: none" href="/notes/{{ note[1].id }}">
            <p class="card-text">
                <medium class="text-muted">u/{{ note[0].username }}</medium>
            </p>
            <h5 class="card-title" style="color: #151414">{{ note[1].title }}</h5>
            <p class="card-text" style="color: #2d2d2d">{{ note[1].data[0:150] }}{% if note[1].data|length > 100 %}...{% endif %}</p>
            <p class="card-text"><small class="text-muted">{{ note[1].date | timeAgo }}</small></p>
</a>
        </div>
    </div>

    <br>
    {% endfor %}

</div>
{% endblock %}